@import"../../variables";
@import"program-box.scss";
#course-detail ,#social-value-detail{
    padding-top: 100px;
    padding-bottom: 50px;
    .head {
        .title {
            text-align: center;
            padding: 30px 0;
        }
        .sub-title {
            font-size: 16px;
        }
    }
    ul {
        li {
            list-style: none;
            span {
                vertical-align: bottom;
            }
        }
    }
    .body {
        .row:nth-child(1) {
            .course-box {
                background-color: $green-main;
            }
        }
        .row:nth-child(2) {
            .course-box {
                background-color: $main;
            }
        }
        .row:nth-child(3) {
            .course-box {
                background-color: $orange-main;
            }
        }
        .row:nth-child(n+4) {
            .course-box {
                background-color: $blue-main;
            }
        }
        .head {
            display: flex;
            align-items: flex-end;
            img {
                width: 50px;
            }
            h3 {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        .col-4 {
            ul li {
                padding-top: 20px;
                .title {
                    img {
                        width: 25px;
                        vertical-align: bottom;
                    }
                    span {
                        vertical-align: middle;
                    }
                }
                .time {
                    padding-top: 10px;
                }
            }
        }
        .course-box {
            .content-box {
                width: 100%;
                padding: 0 30px;
                .icon-course {
                    text-align: left;
                    img {
                        width: 50px;
                    }
                }
                .content {
                    text-align: left;
                    h4 {
                        font-size: 16px;
                        color: #fff;
                        margin-bottom: 10px;
                    }
                    .sub-title p {
                        font-size: 14px;
                        margin-bottom: 0;
                        color: #fff;
                    }
                    .button {
                        a {
                            background-color: #fff;
                            margin: 25px 0;
                            padding: 10px 20px;
                            border-radius: 10px;
                            span,
                            i {
                                font-weight: 600;
                                vertical-align: middle;
                            }
                            span {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .button {
            button {
                border: none;
                background-color: $main;
                margin: 25px 0;
                padding: 10px 20px;
                border-radius: 10px;
                span,
                i {
                    color: #fff;
                }
                i {
                    margin-left: 5px;
                    font-size: 20px;
                    vertical-align: text-bottom;
                }
            }
        }
    }
}