@font-face {
  font-family: "title-en";
  src: url(/fonts/LemonMilk.woff2?6c8f946551602e10291477dbf005d1c7) format("woff2"), url(/fonts/LemonMilk.woff?4b08c1d289fedffff79cbc2812aa7d30) format("woff"), url(/fonts/LemonMilk.ttf?e30caaa902207e0a91e97d57748d3b0b) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-bold-en";
  src: url(/fonts/GothamBold.woff2?d687cebdc496ee0358c734967035a386) format("woff2"), url(/fonts/Gotham-Bold.woff?3d92b1e15f336e5dc9519f7463367e37) format("woff"), url(/fonts/Gotham-Bold.ttf?5383ebb9d229cb2bcf77dba10540792a) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-en";
  src: url(/fonts/GothamBook.woff2?174f6ce7339bb9df0491c4252119e57c) format("woff2"), url(/fonts/Gotham-Book.woff?843e5b0b14221ccde26a01cbd8942544) format("woff"), url(/fonts/Gotham-Book.ttf?dc7b424156648693d513ad8fc8c3da04) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "title-kh";
  src: url(/fonts/Dangrek.woff2?898a90821bdf10a7e6d2198f70073a88) format("woff2"), url(/fonts/Dangrek.woff?e1cd2be94be98ca6eaba82ffce1e8588) format("woff"), url(/fonts/Dangrek.ttf?f89c626ce9bacea8918b4dedce0931e1) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-bold-kh";
  src: url(/fonts/Kantumruy-Bold.woff2?0e3d6ea583862c3e387f0fec9097ced5) format("woff2"), url(/fonts/Kantumruy-Bold.woff?197f75ef79190708eb5e0c062ec3b5a6) format("woff"), url(/fonts/Kantumruy-Bold.ttf?5fa637e43f769d9d3ce1e505db6c3127) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-light-kh";
  src: url(/fonts/Kantumruy-Light.woff2?c5c03f1c20c0b685d2343d7b4466c0a1) format("woff2"), url(/fonts/KantumruyLight.woff?af5b4903821b28ab62bea71bccd5860c) format("woff"), url(/fonts/KantumruyLight.ttf?b0312f0828970d39ef5dde7982a1bba6) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

span.font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "title-en";
}

span.font.title,
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  text-transform: capitalize !important;
}

.page-area,
.navbar-are,
.footer-area {
  width: 100%;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1530px;
}

.msb-4 {
  margin-bottom: 4%;
}

.sy-4 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.sb-4 {
  padding-bottom: 4%;
}

.b-radius {
  border-radius: 20px;
  border: 1px solid #efefef;
}

.text-body {
  padding-top: 15px;
}

.line-blue,
.line-blue-center,
.line-red-center,
.line-red {
  content: "";
  width: 60px;
  position: relative;
  height: 3px;
}

.bg-green {
  background-color: #51be95;
}

.one-line {
  -webkit-line-clamp: 1;
  /* number of lines to show */
}

.two-line {
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-height: 1.5;
  height: 45px;
}

.three-line {
  -webkit-line-clamp: 3;
}

.five-line {
  -webkit-line-clamp: 5;
}

.one-line,
.two-line,
.three-line,
.five-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  align-items: center;
}

.line-blue-center {
  background: #0c2041;
  margin: 10px auto;
}

.line-blue {
  background: #0c2041;
  margin-top: 10px;
}

.line-red {
  background: #fa695f;
}

.line-red-center {
  background: #fa695f;
  margin: 10px auto;
}

.btn-box {
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn-box a {
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
}

a {
  color: #0c2041;
}

a:hover {
  text-decoration: none;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.center {
  display: flex;
}

.content-center {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.content-box .content-text {
  padding: 15px 0;
}

.row.list-mentor {
  margin-right: -30px;
  margin-left: -30px;
}

.row.list-mentor .col-4 {
  padding: 30px;
}

.mentor .image {
  margin-bottom: 15px;
  border-radius: 20px;
}

.swiper-container {
  padding: 0;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  height: 50px;
  width: 50px;
  background-color: white;
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 99 !important;
  top: 40%;
  box-shadow: -3px 0 10px -2px rgba(0, 0, 0, 0.6);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c2041;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.modal {
  padding-right: 0 !important;
}

.modal-header .close {
  position: absolute;
  right: 25px;
  top: 23px;
  height: 40px;
  width: 40px;
  opacity: 1;
  color: #fff;
  padding: 10px;
  background-color: #003664;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog.display {
  width: 60%;
  max-width: 1920px;
}

.modal-dialog.display .modal-content {
  overflow-y: scroll;
}

.modal-dialog.display .modal-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.modal-dialog.display .modal-content::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.modal-dialog.display .modal-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.con-social ul.nav li a {
  font-size: 30px;
  padding: 0 10px 0 0;
}

.list-cus-say .row.swiper-wrapper {
  margin: 0;
}

.list-cus-say .row.swiper-wrapper .testimonial {
  padding: 20px;
}

.list-cus-say .row.swiper-wrapper .testimonial .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.list-cus-say .row.swiper-wrapper .testimonial .pos {
  padding-bottom: 15px;
}

.list-cus-say .row.swiper-wrapper .testimonial .text-body {
  color: white !important;
}

.list-cus-say .swiper-button-next,
.list-cus-say .swiper-button-prev {
  top: 50%;
}

.benefit .benefit-content .icon-image {
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  border-radius: 50%;
  background-color: #ebebeb;
  margin-bottom: 15px;
}

.benefit .benefit-content .icon-image img.img-fluid {
  max-width: 100%;
  height: 40px;
}

.benefit .benefit-content h4.title {
  margin: 0;
}

#course-detail,
#social-value-detail,
#job {
  width: 80%;
}

#buttons {
  color: #337ab7;
  text-decoration: none;
  position: fixed;
  z-index: 100;
}

#buttons {
  position: fixed;
  bottom: 0;
  right: 2%;
  top: 350px;
  z-index: 1000;
  cursor: pointer;
  font-size: 1.6rem;
  height: 50px;
  width: 50px;
  margin: auto;
  background: #ccc;
  border-radius: 50%;
}

#buttons span {
  margin-left: 15px;
}

#buttons span i {
  position: absolute;
  top: 10px;
  font-weight: 500;
}

.fly {
  position: absolute;
  -webkit-animation: launch ease-in-out 3s infinite;
          animation: launch ease-in-out 3s infinite;
}

@-webkit-keyframes launch {
  100% {
    transform: translateY(-1500px);
  }
}

@keyframes launch {
  100% {
    transform: translateY(-1500px);
  }
}

#button:hover span:last-child {
  transform: translateY(-45px);
}

#course-detail,
#social-value-detail,
#job {
  width: 80%;
}

